html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
.app {
  position: relative;
  width: 100%;
}
.readout {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
}
.readout .vertex-list {
  margin-bottom: 10px;
}
svg {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 550px;
  height: 400px;
  border: 1px solid #DDD;
}
